<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Products</key>
    <array>
        <string>com.rarcher.flowers-large</string>
        <string>com.rarcher.flowers-small</string>
        <string>com.rarcher.roses-large</string>
        <string>com.rarcher.chocolates.small</string>
        <string>com.rarcher.birthday.card</string>
    </array>
</dict>
</plist>

